.card_container {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    
  }
  
  .background-card img {
    width: 100%;
    height: auto;
    float:none;
  }

  .card-description{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -50%;
        img{
            width: 50%;
            
        }
  } 
  .card-description a{
    display: none;
    text-decoration: none;
    
}
  .card:hover{
    background: linear-gradient(to right, var(--global-color-purple), var(--global-color-red));
    .background-card img{
        opacity: 0.1;

    }
    .card-description {
        top: -60%;
    }
    .card-description a{
        display: block;
        top: -40%;
    }
    
    
  }
  
