.jumbo-prefooter-EA-PLAY-container{
  width: 100%;
  height: 500px;
  background-image: url(images/background-EA-PLAY.jpg);
  background-size: cover;

  .left-side{
    width: 50%;
    height: 100%;
    padding: 10% 10% 32px;

    .content{
      color: var(--global-color-white);
      font-size: 18px;
      font-family: var(--global-font-family);
      margin-bottom: 20px;
    }

    .global-button{
      background-color: #0E0F43;
      color: var(--global-color-white);
      width: 180px;
    }
  }
}

.jumbo-prefooter-section{
  height: 80px;
  width: 100%;
  background-color: var(--global-color-cyan);
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .copy{
    color: var(--global-color-black);
    font-family: var(--global-font-family);
    font-weight: 500;
    font-size: 24px;
  }

  .global-button{
    background-color: var(--global-color-cyan);
  }
}