* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --global-color-purple: #551a8b;
  --global-color-red: #ff4747;
  --global-color-lightgrey: #f3f3f3;
  --global-color-cyan: #6eb0d6;
  --global-color-green: #07f468;
  --global-color-grey: #eaeaea;
  --global-color-white: #fff;
  --global-color-black: #161616;
  --global-color-darkgrey: #747474;
}

@font-face {
  font-family: EaFont;
  src: url(./Files/ElectronicArtsText.ttf);
}


.container-el {
  font-family: EaFont;
  width: 100%;
  height: 100%;
}

.container-el.black {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.625);
  position: absolute;
  z-index: 1;
  display: block;
}

.sidebar {
  background-color: var(--global-color-lightgrey);
  height: 100%;
  width: 28%;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  position: fixed;
  overflow-y: scroll;
  top: 40px;
  bottom: 0;
  transition: 500ms;
}

.sidebar.close {
  transform: translateX(-100%);
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

.tuttiIGiochi {
  color: var(--global-color-darkgrey);
  cursor: pointer;
}

.closeit {
  cursor: pointer;
}

.closeit:hover {
  color: var(--global-color-red);
}

.tuttiIGiochi:hover {
  color: var(--global-color-red);
}

.bigCard {
  background-color: #07f468;
  height: 350px;
  width: 80%;
  margin: 2.6rem;
  cursor: pointer;
  background-image: url("./Files/BigCard.png");
  background-size: 350px 350px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bigCard:hover img {
  width: 130px;
  height: 130px;
  transition: 300ms;
}

.EALogoBig {
  width: 100px;
  height: 100px;
}

.smallcardContainer {
  display: flex;
  margin: 2rem;
}


.smallLogo {
  width: 60px;
  height: 60px;
}


.smallcard1 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard1.jpg");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard1:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}

.smallcard2 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard2.png");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard2:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}

.smallcard3 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard3.jpg");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard3:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}

.smallcard4 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard4.jpg");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard4:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}

.smallcard5 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard5.jpg");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard5:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}

.smallcard6 {
  background-color: #07f468;
  height: 170px;
  width: 170px;
  background-image: url("./Files/smallcard6.jpg");
  background-size: 170px 170px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcard6:hover img {
  width: 80px;
  height: 80px;
  transition: 300ms;
}


.blackNavbar {
  background-color: #161616;
  width: 100%;
  height: 40px;
  color: var(--global-color-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile {
  margin-right: 40px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.answer {
  margin-right: 40px;
  height: 10px;
  width: 10px;
  margin-bottom: 4px;
  cursor: pointer;
}

.ea {
  margin-right: 30px;
  margin-top: 6px;
  height: 23px;
  width: 40px;
  cursor: pointer;

}

.submenu1 {
  display: none;
}

.submenu2 {
  display: none;
}

.submenu3 {
  display: none;
}

.submenu4 {
  display: none;
}

.submenu5 {
  display: none;
}

.realNavbar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--global-color-grey);
  align-items: center;
  color: #161616;
}

.HamburgerMenu {
  background-color: var(--global-color-black);
  width: 4px;
  height: 4px;
  margin: 4px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.menu:hover>* {
  background-color: var(--global-color-red);
  width: 6px;
  height: 6px;
  margin: 5px;
  border-radius: 6px;
  margin-left: 20px;
  transition: 400ms;
}

.electronicArts {
  margin-left: 30px;
  width: 200px;
  cursor: pointer;
}


.giochi {
  margin-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.aste {
  display: flex;
  margin-left: 3px;
}

.asta1 {
  background-color: var(--global-color-black);
  width: 8px;
  height: 1px;
  transform: rotate(45deg)
}

.asta2 {
  background-color: var(--global-color-black);
  width: 8px;
  height: 1px;
  margin-left: -3px;
  transform: rotate(-45deg)
}


.altreEsperienze {
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.informazioni {
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.impegni {
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.risorse {
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.giochi:hover {
  color: var(--global-color-red);
}

.giochi:hover .asta1 {
  transform: rotate(135deg);
  background-color: var(--global-color-red);
}

.altreEsperienze:hover .asta2 {
  transform: rotate(45deg);
  background-color: var(--global-color-red);
}

.altreEsperienze:hover .asta1 {
  transform: rotate(135deg);
  background-color: var(--global-color-red);
}

.informazioni:hover .asta2 {
  transform: rotate(45deg);
  background-color: var(--global-color-red);
}

.informazioni:hover .asta1 {
  transform: rotate(135deg);
  background-color: var(--global-color-red);
}

.impegni:hover .asta2 {
  transform: rotate(45deg);
  background-color: var(--global-color-red);
}

.impegni:hover .asta1 {
  transform: rotate(135deg);
  background-color: var(--global-color-red);
}

.risorse:hover .asta2 {
  transform: rotate(45deg);
  background-color: var(--global-color-red);
}

.risorse:hover .asta1 {
  transform: rotate(135deg);
  background-color: var(--global-color-red);
}

.giochi:hover .asta2 {
  transform: rotate(45deg);
  background-color: var(--global-color-red);
}

.giochi:hover .submenu1 {
  position: absolute;
  background-color: var(--global-color-lightgrey);
  display: flex;
  color: var(--global-color-black);
  margin-top: 400px;
  padding: 2rem;
  height: 320px;
  border-radius: 5px;
}

.giochi:hover .prova{
  display: flex;
  position: fixed;
  /* color: var(--global-color-black);
  margin-top: 0px;
  height: 30px;
  width: 30px;
  background-color: var(--global-color-red); */
}

.submenu1-subclass1>* {
  margin: 0.7rem;
}

.submenu1-subclass2 {
  margin-left: 1rem;
}

.submenu1-subclass2>* {
  margin: 0.7rem
}

.submenu2-subclass2>*+* {
  margin: 0.7rem;
}

.altreEsperienze:hover {
  color: var(--global-color-red);
}

.altreEsperienze:hover .submenu2 {
  position: absolute;
  background-color: var(--global-color-lightgrey);
  display: flex;
  color: var(--global-color-black);
  margin-top: 280px;
  padding: 2rem;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.submenu2-subclass1>* {
  margin: 0.7rem
}

.informazioni:hover {
  color: var(--global-color-red);
}


.submenu3-subclass1>* {
  margin: 0.7rem
}

.informazioni:hover .submenu3 {
  position: absolute;
  background-color: var(--global-color-lightgrey);
  display: flex;
  color: var(--global-color-black);
  margin-top: 330px;
  padding: 2rem;
  height: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.impegni:hover {
  color: var(--global-color-red);
}


.impegni:hover .submenu4 {
  position: absolute;
  background-color: var(--global-color-lightgrey);
  display: flex;
  color: var(--global-color-black);
  margin-top: 310px;
  padding: 2rem;
  height: 230px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.submenu4-subclass1>* {
  margin: 0.7rem;
}

.risorse:hover {
  color: var(--global-color-red);
}


.risorse:hover .submenu5 {
  position: absolute;
  background-color: var(--global-color-lightgrey);
  display: flex;
  color: var(--global-color-black);
  margin-top: 310px;
  padding: 2rem;
  height: 230px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.submenu5-subclass1>* {
  margin: 0.7rem
}

.section {
  display: flex;
  background-image: url("./Files/jumbo.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 560px;
}

.blackRectangle.black {
  background-color: #161616c5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40px;
  transition: 400ms;
}